.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#nav1{
  font-size: 85px;
  font-weight: 100;
  text-decoration: none;
  margin-bottom: -10%;
  color:blueviolet;
}

#nav2{
  font-size: 85px;
  font-weight: 100;
  text-decoration: none;
  margin-bottom: 1%;
  color:blueviolet;
  font-family:'Times New Roman', Times, serif;
}
#main{
  margin-left: auto;
  margin-top: 15%;
  background-size: cover;
  border-radius: 25%;
  border-top: 5px solid rebeccapurple;
  border-bottom: 5px solid rebeccapurple;
}
#loginpht1 {
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  display: block;
  margin-top: 5%;
  z-index: -1;
}
#lgdv1 {
  margin-top: 10%;
  margin-left: -5%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#signuppht1 {
  position: absolute;
  text-align: center;
  width: 250px;
  height: 450px;
  display: block;
  margin-top: 10%;
  margin-right: -10%;
  z-index: -1;
  border-radius: 5%;
}
#signuppage1 {
  color: white;
  margin-left: 375px;
  margin-right: 375px;
  margin-bottom: 50px;
  max-width: 75%;
  margin-top: 17px;
  border-top: 5px solid blue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',' Geneva', 'Verdana', 'sans-serif';
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: bold
}
#loginpage1 {
  position: relative;
  z-index: 1;
  color: red;
  margin-top: 10%;
  margin-left: 15%;
  max-width: auto;
  border-top: 5px solid hwb(240 0% 0%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: bold;
  margin-bottom: auto;
}